.module-top-photos {
  height: 115px;
}

.slide-add-subscribe {
  left: 0;
  width: 65px;
}
.carousel-top-photo {
  min-height: 115px;
  margin-left: 65px;
}
.slide-img {
  height: 95px;
  width: 55px;
}
