.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0.3em 0.8em 0.4em 0.8em;
  font-size: 13px;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  text-shadow: rgba(0, 0, 0, 0.2) 0px -1px 0px;

  line-height: 20px;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  outline: none;
  cursor: pointer;
  transition: all 200ms;
  &:hover,
  &:target,
  &:active,
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.btn-link {
  display: inline-flex;
  margin: 0;
  padding: 0;
  text-shadow: none;
  color: #000;
  font-family: inherit;
  &:hover,
  &:target,
  &:active,
  &:focus {
    text-decoration: underline;
    background: none;
    color: #000;
    box-shadow: none;
  }
}

.btn-primary {
  background-color: rgb(255, 0, 0);
  color: rgba(255, 255, 255, 1);
  &:hover,
  &:target,
  &:active,
  &:focus {
    background-color: #ce0000;
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 0 0.1rem rgba(225, 83, 97, 0.5);
  }
}
.btn-outline-primary {
  background: none;
  color: red;
  border-color: red;
  &:hover,
  &:target,
  &:active,
  &:focus {
    background-color: #ce0000;
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 0 0.1rem rgba(225, 83, 97, 0.5);
  }
}

.btn-secondary {
  background-color: rgb(78, 96, 93);
  color: rgba(255, 255, 255, 1);

  &:hover,
  &:target,
  &:active,
  &:focus {
    background-color: #485755;
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 0 0.1rem rgba(130, 138, 145, 0.5);
  }
}

.btn-outline-secondary {
  background: none;
  color: #4e605d;
  border-color: #4e605d;
  &:hover,
  &:target,
  &:active,
  &:focus {
    background-color: #485755;
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 0 0.1rem rgba(130, 138, 145, 0.5);
  }
}

.btn-ico {
  margin-left: 0.5em;
}

.btn-header-icon {
  background: none;
  border: none;
  margin: 0 7px;
  padding: 0 7px;
  width: auto;
  height: 40px;
  outline: none;
  box-shadow: none;
  transition: all 300ms;
  img {
    width: auto;
    height: 100%;
    transition: all 300ms;
  }
  .btn-header-icon-label {
    position: absolute;
    bottom: 0;
    opacity: 0;
    font-size: 0.8em;
    transition: all 300ms;
  }
  &:hover,
  &:target,
  &:active,
  &:focus {
    outline: none;
    box-shadow: none;
    img {
      transform: translateY(-1em);
    }
    .btn-header-icon-label {
      transform: translateY(1em);
      opacity: 1;
    }
  }
}

.btn-loadmore {
  font-size: 2em;
  padding: 0.5em 2em;
  background-color: #f6f6f6;
  color: #03a9f4;
  &:hover,
  &:target,
  &:active,
  &:focus {
    background-color: #ddd;
  }
}

.btn-clean {
  width: auto;
  height: auto;
  background: none;
  border: none;
  display: inline;
  padding: 0;
  margin: 0;
  display: flex;
  text-align: center;
}
