.buy-currency-product {
  display: flex;
  flex-direction: column;
  .buy-product-logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .buy-product-img {
    padding-top: 100px;
    img {
      width: 100px;
      object-fit: contain;
    }
  }
  .buy-product-subtitle {
    text-align: center;
    color: #767676;
    font-size: 16px;
    margin: 32px 0 20px;
    padding: 0 20px;
  }
  .buy-product-breadcrumb {
    display: flex;
    justify-content: end;
    justify-content: flex-end;
  }
}

.buy-product-payment {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0 10px;
  .buy-product-payment-inner {
    margin: auto;
    width: 500px;
  }
}

.buy-product-card {
  position: relative;
  margin: 5px auto 15px;
  padding: 8px;
  width: 250px;
  border: 1px solid #fcb925;
  border-radius: 10px;
  transition: all 300ms;

  &.active {
    box-shadow: 0px 0px 5px 1px #ffeb3b;
    .buy-product-card-promo {
      box-shadow: 0px 0px 5px 1px #ffeb3b;
    }
  }
  &:hover {
    background: #f3f3f3;
    box-shadow: 0px 0px 5px 1px #ffeb3b;
  }

  a.buy-product-card-link-hover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .buy-product-card-promo {
    position: absolute;
    top: 0;
    right: 0;
    left: 50%;
    background: #fcb925;
    color: #ffffff;
    transform: translate(-50%, -50%);
    padding: 0 10px;
    text-align: center;
    border-radius: 15px;
  }
  .buy-product-card-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
  }
  .buy-product-card-img {
    margin-bottom: 15px;
    height: 100px;
    width: 100px;
  }
  .buy-product-card-name {
    //
  }
  .buy-product-card-price {
    font-size: 1rem;
    color: #4caf50;
    &.buy-product-card-price-old {
      color: #af4c4c;
      text-decoration: line-through;
    }
  }
  .buy-product-card-price-sale {
    font-size: 1rem;
    font-weight: bold;
    color: #4caf50;
  }
}

.buy-currency-cat {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.buy-service-product-card {
  display: flex;
  justify-content: center;
  width: 750px;
  margin: 5px auto 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #eee;

  .buy-card-img {
    padding: 5px 20px;
    img {
      object-fit: contain;
      height: 100px;
      width: 100px;
    }
  }
  .buy-card-desc {
    display: flex;
    flex-direction: column;
    padding: 5px;
    min-width: 150px;
    flex-grow: 1;
    p {
      color: #767676;
      font-size: 16px;
      padding: 5px;
    }
  }
  .buy-card-payment {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    min-width: 150px;

    .buy-card-btn {
      margin: 5px 0 5px 0;
    }

    .buy-product-card-price {
      font-size: 1rem;
      color: #4caf50;
      &.buy-product-card-price-old {
        color: #af4c4c;
        text-decoration: line-through;
      }
    }
    .buy-product-card-price-sale {
      font-size: 1rem;
      font-weight: bold;
      color: #4caf50;
    }
  }

  @media (max-width: 750px) {
    flex-direction: column;
    width: auto;
    .buy-card-img {
      text-align: center;
    }
    .buy-card-desc {
      text-align: center;
    }
  }

  //
}
