.form-group {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0.25em;
  label.form-control {
    margin: 0;
    padding: 0.1em 0;
    border-radius: 0.2em;
  }
  input.form-control {
    margin: 0;
    padding: 7.5px 9px;
    border-radius: 0.2em;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.13) inset;
  }
  .checkbox-control {
    display: flex;
    input[type="checkbox"] {
      margin-right: 1em;
      margin-left: 1em;
    }
    label.form-control {
      //
    }
  }
}
form.form-site {
  position: relative;
  * {
    position: relative;
  }
  .form-group {
    display: flex;
    flex-direction: column;
    margin: 0.25em;
  }
  .btn-search {
    font-size: 1em;
  }
  .disabled {
    opacity: 0.5;
    &::after {
      content: "";
      cursor: no-drop;
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
}
.form-group.write-me {
  position: relative;
  margin: 0;
  padding: 8px;
  border: 1px solid #d4d4d4;
  border-radius: 3px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.13) inset;
  overflow: hidden;
  height: 24px;

  &.active {
    height: auto;
    &::before {
      content: "";
      z-index: -1;
      display: none;
    }
  }
  &::before {
    content: "Выберите из списка";
    background: white;
    z-index: 9;
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    text-align: left;
    color: #555;
    font-family: unset;
    transition: all 300ms;
  }
  &::after {
    content: "";
    position: absolute;
    top: 12px;
    right: 8px;
    z-index: 10;
    background: url(../img/arrow.svg) center no-repeat;
    height: 12px;
    width: 14px;
    opacity: 0.5;
  }
}

.select-сheckbox {
  position: relative;
  color: #555;
  border: 1px solid #d4d4d4;
  cursor: pointer;
  border-radius: 3px;
  margin: 5px 0;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.13) inset;

  > span {
    text-align: left;
    display: block;
    padding: 0.45em 23px 0.55em 12px;
    margin-right: 10px;
    position: relative;
    z-index: 10;
    background: url("../../images/icons/icon-select-arrow.png") right -34px no-repeat;
    &::after {
      display: inline;
      content: "\00a0";
    }
  }
  .selectBox {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: 0;
    padding: 0.45em 23px 0.55em 12px;
    z-index: 20;
    max-width: 100%;
    opacity: 0;

    select {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
    }
  }

  .overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  .select-сheckbox--items {
    display: none;
    padding: 0.45em 23px 0.55em 12px;
    label {
      display: block;
      text-align: left;
      padding: 0.1rem 0;
    }
  }
}
.write-me-age {
  position: relative;
  margin: 5px 0;
  input {
    padding-left: 2.3em;
  }
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 0.5em 9px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
    background: #eee;
    width: 1.1em;
    text-align: center;
  }
}
.write-me-age-pre {
  &::before {
    content: "с";
  }
}
.write-me-age-after {
  &::before {
    content: "до";
  }
}

#ButtonFilter {
  display: none;
  @media (max-width: 750px) {
    display: block;
  }
}
#form-search-filter {
  display: flex;
  flex-direction: column;

  .form-search-filter-content {
    display: flex;
    flex-direction: column;
    @media (max-width: 750px) {
      display: none;
      &.active {
        display: flex;
      }
    }

    .form-search-filter-options {
      display: flex;
      flex-direction: row;
      @media (max-width: 750px) {
        flex-direction: column;
      }
    }
    .form-search-filter-options-part-1,
    .form-search-filter-options-part-2 {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      @media (max-width: 750px) {
        flex-direction: column;
      }
    }

    .form-control {
      margin-bottom: 0;
    }
    .form-group-checkbox {
      width: 150px;
      justify-content: space-evenly;
    }
  }
}

.form-authorization {
  display: flex;
  flex-direction: column;
  width: 100%;

  .logo {
    margin: 1em 0;
    max-width: 100%;
    max-height: 75px;
    img {
      object-fit: contain;
    }
  }
  label.form-control {
    padding: 0.5em 0.25em;
    color: #a0a0a0;
  }
  input.form-control {
    display: flex;
    margin-bottom: 0.5em;
  }
  .password-view {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 9px;
    padding: 1px;
    height: 2em;
    width: 2em;
    border-left: 1px solid #d4d4d4;
  }
  .btn {
    display: inline-block;
    position: relative;
    padding: 0.25em 0.8em 0.25em 0.8em;
    border: 1px solid transparent;
    line-height: 1.5em;
    cursor: pointer;
  }
  .btn-cancel {
    color: f8847c;
    &:hover,
    &:active,
    &:target,
    &:active {
      color: red;
    }
  }
  .btn-link {
    padding: 0;
  }
  .link-agreement {
    color: #6e6e6e;
    font-style: italic;
    margin-left: auto;
  }
  .message {
    display: none;
    padding: 10px;
  }
}
.form-authorization-reset {
  display: none;
  &.active {
    display: flex;
  }
}

.form-authorization {
  width: 350px;
  @media (max-width: 450px) {
    width: 100%;
  }
}

.field-input-help {
  display: flex;
  align-items: flex-end;
  margin-top: 0.2em;
  font-style: italic;
  &.hidden {
    display: none;
  }

  .field-input-help-value {
    flex-grow: 1;
    text-align: left;
    margin: 0 0.25em;
  }
  .field-input-help-btn {
    padding: 0.5em;
    line-height: 1;
  }
}
