.section-likes {
  display: flex;
  flex-direction: row;
  .section-likes-content {
    display: flex;
    justify-content: center;
    position: relative;
    height: 700px;
    width: 70%;
  }
  .section-likes-info {
    display: flex;
    flex-direction: column;
    width: 30%;
  }

  @media (max-width: 770px) {
    flex-direction: column;
    .section-likes-content {
      width: 100%;
    }
    .section-likes-info {
      flex-direction: column;
      width: auto;
    }
  }
}

//

.tinder {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 90%;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;

  &.tinder-no-profiles {
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 100;
    }
  }
}
.loaded.tinder {
  opacity: 1;
}
.tinder--status {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin-top: 50%;
  transform: translateY(-50%);
  height: 150px;
  z-index: 2;
  width: 100%;
  text-align: center;
  pointer-events: none;
  .tinder--status-remove,
  .tinder--status-heart {
    position: absolute;
    margin-left: 50%;
    width: 100px;
    opacity: 0;
    transform: translateX(-50%) scale(0.3);
    transition: all 0.2s ease-in-out;
    img {
      object-fit: contain;
    }
  }
}
.tinder_love {
  .tinder--status-heart {
    opacity: 0.7;
    transform: translateX(-50%) scale(1);
  }
}
.tinder_nope {
  .tinder--status-remove {
    opacity: 0.7;
    transform: translateX(-50%) scale(1);
  }
}
.tinder--cards {
  -webkit-box-flex: 1;
  flex-grow: 1;
  padding-top: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 1;
}
.tinder--card {
  display: inline-block;
  width: 90vw;
  max-width: 400px;
  background: #ffffff;
  padding-bottom: 40px;
  border-radius: 8px;
  overflow: hidden;
  position: absolute;
  will-change: transform;
  transition: all 0.3s ease-in-out;
  cursor: grab;
  img {
    max-width: 100%;
    pointer-events: none;
  }
  h3 {
    margin-top: 32px;
    font-size: 32px;
    padding: 0 16px;
    pointer-events: none;
  }
  p {
    margin-top: 24px;
    font-size: 20px;
    padding: 0 16px;
    pointer-events: none;
  }
}
.moving.tinder--card {
  transition: none;
  cursor: grabbing;
}

.tinder--buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  .btn-action {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 100%;
    margin: 15px;
    height: 80px;
    width: 80px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.35);
    cursor: pointer;
    img {
      object-fit: contain;
      height: 40px;
      transform: scale(0.8);
      transition: all 200ms;
    }
    &:hover,
    &:active,
    &:target,
    &:focus {
      img {
        transform: scale(1);
      }
    }
  }
}
