ul,
ol {
  margin-bottom: 1em;
  list-style-position: inside;
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

li>ul,
li>ol {
  margin: 0.5em 0 0 1em;
}

li {
  margin-bottom: 0.5em;
}

ul.bordered-list {
  margin: 0;
  list-style: none;
}

ul.bordered-list li {
  padding: 0 0 0.5em 0;
  border-bottom: 1px dotted #d6d6d6;
}

ul.bordered-list li:last-child {
  border-width: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

ul.bordered-list li h4 {
  margin-bottom: 0;
}

ul.bordered-list-message {
  margin: 0 0 1em 0;
  padding: 2em 0;
  height: 250px;
  list-style: none;
  border: 1px solid #d4d4d4;
  border-radius: 3px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.13) inset;
  overflow: auto;
}

ul.bordered-list-message li {
  padding: 0 0 0.5em 0;
}

ul.bordered-list-message li:last-child {
  border-width: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

ul.bordered-list-message li h4 {
  margin-bottom: 0;
}

ul.checked-list li,
ul.success li,
ul.error li {
  position: relative;
  padding-left: 17px;
}

ul.checked-list li:before,
ul.success li:before,
ul.error li:before {
  color: #666;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  font: 12px FontAwesome;
  -webkit-font-smoothing: antialiased;
}

ul.checked-list li:before,
ul.success li:before {
  top: 3px;
  content: "\f00c";
}

ul.error li:before {
  top: 3px;
  content: "\f00d";
}

ul.success,
ul.error {
  margin-bottom: 1em;
  list-style: none;
}