$margin-step: 0.25em;
$margin-step-md: 0.25em;
$margin-step-sm: 0.25em;
$margin-step-xs: 0.25em;

/* --------------------------------------------
  Универсальные внутренние и внешние отступы
-------------------------------------------- */
@for $i from 0 through 9 {
  .pt#{$i} {
    padding-top: $margin-step * $i !important;
    @media (max-width: $screen-width-lg) {
      padding-top: $margin-step-md * $i !important;
    }
    @media (max-width: $screen-width-md) {
      padding-top: $margin-step-sm * $i !important;
    }
    @media (max-width: $screen-width-sm) {
      padding-top: $margin-step-xs * $i !important;
    }
  }
  .pr#{$i} {
    padding-right: $margin-step * $i !important;
    @media (max-width: $screen-width-lg) {
      padding-right: $margin-step-md * $i !important;
    }
    @media (max-width: $screen-width-md) {
      padding-right: $margin-step-sm * $i !important;
    }
    @media (max-width: $screen-width-sm) {
      padding-right: $margin-step-xs * $i !important;
    }
  }
  .pb#{$i} {
    padding-bottom: $margin-step * $i !important;
    @media (max-width: $screen-width-lg) {
      padding-bottom: $margin-step-md * $i !important;
    }
    @media (max-width: $screen-width-md) {
      padding-bottom: $margin-step-sm * $i !important;
    }
    @media (max-width: $screen-width-sm) {
      padding-bottom: $margin-step-xs * $i !important;
    }
  }
  .pl#{$i} {
    padding-left: $margin-step * $i !important;
    @media (max-width: $screen-width-lg) {
      padding-left: $margin-step-md * $i !important;
    }
    @media (max-width: $screen-width-md) {
      padding-left: $margin-step-sm * $i !important;
    }
    @media (max-width: $screen-width-sm) {
      padding-left: $margin-step-xs * $i !important;
    }
  }
  .p#{$i} {
    padding: $margin-step * $i !important;
    @media (max-width: $screen-width-lg) {
      padding: $margin-step-md * $i !important;
    }
    @media (max-width: $screen-width-md) {
      padding-top: $margin-step-sm * $i !important;
    }
    @media (max-width: $screen-width-sm) {
      padding: $margin-step-xs * $i !important;
    }
  }

  .mt#{$i} {
    margin-top: $margin-step * $i !important;
    @media (max-width: $screen-width-lg) {
      margin-top: $margin-step-md * $i !important;
    }
    @media (max-width: $screen-width-md) {
      margin-top: $margin-step-sm * $i !important;
    }
    @media (max-width: $screen-width-sm) {
      margin-top: $margin-step-xs * $i !important;
    }
  }
  .mr#{$i} {
    margin-right: $margin-step * $i !important;
    @media (max-width: $screen-width-lg) {
      margin-right: $margin-step-md * $i !important;
    }
    @media (max-width: $screen-width-md) {
      margin-right: $margin-step-sm * $i !important;
    }
    @media (max-width: $screen-width-sm) {
      margin-right: $margin-step-xs * $i !important;
    }
  }
  .mb#{$i} {
    margin-bottom: $margin-step * $i !important;
    @media (max-width: $screen-width-lg) {
      margin-bottom: $margin-step-md * $i !important;
    }
    @media (max-width: $screen-width-md) {
      margin-bottom: $margin-step-sm * $i !important;
    }
    @media (max-width: $screen-width-sm) {
      margin-bottom: $margin-step-xs * $i !important;
    }
  }
  .ml#{$i} {
    margin-left: $margin-step * $i !important;
    @media (max-width: $screen-width-lg) {
      margin-left: $margin-step-md * $i !important;
    }
    @media (max-width: $screen-width-md) {
      margin-left: $margin-step-sm * $i !important;
    }
    @media (max-width: $screen-width-sm) {
      margin-left: $margin-step-xs * $i !important;
    }
  }
  .m#{$i} {
    margin: $margin-step * $i !important;
    @media (max-width: $screen-width-lg) {
      margin: $margin-step-md * $i !important;
    }
    @media (max-width: $screen-width-md) {
      margin: $margin-step-sm * $i !important;
    }
    @media (max-width: $screen-width-sm) {
      margin: $margin-step-xs * $i !important;
    }
  }

  @media (max-width: $screen-width-md) {
    .pt#{$i}-md {
      padding-top: $margin-step * $i !important;
      @media (max-width: $screen-width-md) {
        padding-top: $margin-step-sm * $i !important;
      }
      @media (max-width: $screen-width-sm) {
        padding-top: $margin-step-xs * $i !important;
      }
    }
    .pr#{$i}-md {
      padding-right: $margin-step * $i !important;
      @media (max-width: $screen-width-md) {
        padding-right: $margin-step-sm * $i !important;
      }
      @media (max-width: $screen-width-sm) {
        padding-right: $margin-step-xs * $i !important;
      }
    }
    .pb#{$i}-md {
      padding-bottom: $margin-step * $i !important;
      @media (max-width: $screen-width-md) {
        padding-bottom: $margin-step-sm * $i !important;
      }
      @media (max-width: $screen-width-sm) {
        padding-bottom: $margin-step-xs * $i !important;
      }
    }
    .pl#{$i}-md {
      padding-left: $margin-step * $i !important;
      @media (max-width: $screen-width-md) {
        padding-left: $margin-step-sm * $i !important;
      }
      @media (max-width: $screen-width-sm) {
        padding-left: $margin-step-xs * $i !important;
      }
    }
    .mt#{$i}-md {
      margin-top: $margin-step * $i !important;
      @media (max-width: $screen-width-md) {
        margin-top: $margin-step-sm * $i !important;
      }
      @media (max-width: $screen-width-sm) {
        margin-top: $margin-step-xs * $i !important;
      }
    }
    .mr#{$i}-md {
      margin-right: $margin-step * $i !important;
      @media (max-width: $screen-width-md) {
        margin-right: $margin-step-sm * $i !important;
      }
      @media (max-width: $screen-width-sm) {
        margin-right: $margin-step-xs * $i !important;
      }
    }
    .mb#{$i}-md {
      margin-bottom: $margin-step * $i !important;
      @media (max-width: $screen-width-md) {
        margin-bottom: $margin-step-sm * $i !important;
      }
      @media (max-width: $screen-width-sm) {
        margin-bottom: $margin-step-xs * $i !important;
      }
    }
    .ml#{$i}-md {
      margin-left: $margin-step * $i !important;
      @media (max-width: $screen-width-md) {
        margin-left: $margin-step-sm * $i !important;
      }
      @media (max-width: $screen-width-sm) {
        margin-left: $margin-step-xs * $i !important;
      }
    }
  }
}
.pt {
  @extend .pt1;
}
.pr {
  @extend .pr1;
}
.pb {
  @extend .pb1;
}
.pl {
  @extend .pl1;
}
.mt {
  @extend .mt1;
}
.mr {
  @extend .mr1;
}
.mb {
  @extend .mb1;
}
.ml {
  @extend .ml1;
}
