.chat-container {
  border: 1px solid #d4d4d4;
  height: 18.6em;
  overflow-y: auto;
  margin-bottom: 1em;
  padding: 1em 15px;
  .chat-message {
    display: table;
    width: 100%;
  }
  .chat-message-meta {
    display: table-cell;
    vertical-align: top;
    width: 100px;
  }
  .chat-message-text {
    display: table-cell;
    vertical-align: top;
  }
  li {
    display: block;
  }
}
.chat-name {
  margin-bottom: 0;
  color: #555;
}
.chat-time {
  color: #888;
}
.chat-status {
  color: #888;
}
.chat-form-wrap {
  display: table;
  width: 100%;
}
.chat-input-wrap {
  display: table-cell;
  vertical-align: top;
}
.chat-button-wrap {
  display: table-cell;
  vertical-align: top;
  width: 1px;
  padding-left: 10px;
  text-align: right;
  .button {
    display: block;
    float: right;
    margin-right: 0 !important;
    top: 1px;
  }
}

.listed-message {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0 1em;
  .message-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
    .message-author {
      //
    }
    .message-data {
      color: #a8aab1;
    }
    i {
      font-size: 7px;
      padding: 0 10px;
    }
  }
  .message-text {
    position: relative;
    margin-top: 12px;
    padding: 1em 2em;
    color: #000;
    line-height: 26px;
    font-size: 16px;
    border-radius: 7px;
    box-sizing: border-box;
    overflow-wrap: anywhere;
    &::after {
      content: " ";
      position: absolute;
      bottom: 100%;
      height: 0;
      width: 0;
      margin-left: -10px;
      border: solid transparent;
      border-width: 10px;
      pointer-events: none;
    }
    p {
      color: #000;
      overflow-wrap: break-word;
    }
  }
}

.listed-message-active-user {
  .message-header {
    justify-content: flex-end;
    .message-data {
      color: #a8aab1;
      padding-right: 6px;
    }
    i {
      color: #cfe8ff;
    }
  }
  .message-text {
    margin-left: auto;
    background: #cfe8ff;

    &::after {
      border-bottom-color: #cfe8ff;
      right: 30px;
    }
  }
}

.listed-message-user {
  .message-header {
    justify-content: flex-start;
    i {
      order: 1;
      color: #efefef;
    }
    .message-author {
      order: 2;
    }
    .message-data {
      order: 3;
      color: #a8aab1;
      padding-left: 6px;
    }
  }
  .message-text {
    margin-right: auto;
    background: #efefef;
    &::after {
      left: 40px;
      border-bottom-color: #efefef;
    }
  }
}
