.smodal {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 10vh;

  left: 0;
  right: 0;
  max-height: 75vh;
  overflow-y: auto;

  margin: 0 auto;
  padding: 1.5em 30px;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transform: scale(0);

  z-index: -1;
  transition: all ease-in 300ms;
  &.active {
    opacity: 1;
    transform: scale(1);
    z-index: 1001;
  }

  .smodal-close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0.5em;
    padding: 0.5em 1em;
    transition: all ease-in 200ms;
    cursor: pointer;
    &:hover,
    &:active,
    &:target,
    &:active {
      color: red;
    }
    &::before {
      content: "\f00d";
      font: 12px FontAwesome;
    }
  }
}

#SModalAuthorization {
  min-width: 350px;
  width: 350px;
  @media (max-width: 450px) {
    margin: auto;
    top: 10px;
    right: 0;
    left: 0;
    max-height: 90vh;
    width: 100%;

    box-sizing: border-box;
  }
}

#SModalRegistration {
  min-width: 350px;
  width: 350px;
  @media (max-width: 450px) {
    margin: auto;
    top: 10px;
    right: 0;
    left: 0;
    max-height: 90vh;
    width: 100%;

    box-sizing: border-box;
  }
  h3.h3 {
    margin: 10px 0 0 0;
  }

  img.smodal-registration-logo {
    object-fit: contain;
    max-height: 50px;
    width: auto;
  }
}
