.smiles-block {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  max-width: 250px;
  justify-content: center;
  border-radius: 5px;
  border: solid 1px #d4d4d4;
  .smiles-item {
    display: flex;
    padding: 0.35rem;
    margin: 0;
    cursor: pointer;
    transition: all 300ms;
    &:hover,
    &:active,
    &:target {
      background: #f5f5f5;
      border-radius: 5px;
      box-shadow: inset 0 0 0 1px #d1d1d1;
    }
    img {
      flex-basis: 19px;
    }
  }
}

.msg-editor-control {
  display: flex;
  margin: 3px 0px;
}
.msg-editor-left {
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
}
.msg-editor-right {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}
.emoji-panel {
  display: flex;
  justify-content: flex-end;
}
.msg-editor-emoji-list {
  display: block;
  position: relative;
  margin-top: 15px;
  &::before {
    content: "";
    position: absolute;
    left: 20px;
    top: -20px;
    border: 10px solid transparent;
    border-bottom: 10px solid #b4b4b4;
  }
}
.msg-editor-emoji {
  display: flex;
  justify-content: center;
  padding: 0 5px;
  align-items: center;
  height: 32px;
  width: 65px;
  background: #f5f5f5;
  border-radius: 5px;
  box-shadow: inset 0 0 0 1px #d1d1d1;
  cursor: pointer;
  transition: all 300ms;
  &:hover,
  &:active,
  &:target {
    background: #e3e3e3;
  }
  &::before {
    content: "\01F604 \01F60A \01F618";
    display: flex;
  }
}
.msg-editor-emoji-container {
  height: 0px;
  transition: all 1s;
  opacity: 0;
  overflow: hidden;
  &.active {
    height: 300px;
    opacity: 1;
  }
}

//
.test-emoji {
  position: absolute;
  text-align: center;
  font-size: 2rem;
  left: 0%;
  width: 100%;
  top: 20%;
}

.intercom-emoji-picker-groups {
  display: flex;
  position: relative;
  flex-direction: column;
  margin: 0.5rem 0;
  max-height: 300px;
  overflow: auto;
  background: #f5f5f5;
  border-radius: 3px;
}
.intercom-emoji-picker-group-title {
  padding: 0 1rem;
  color: #9b9b9b;
  border-top: 1px solid #d0d0d0;
  margin: 0.5rem 0.25rem 0.25rem 0.25rem;
}
.intercom-emoji-picker-group {
  display: flex;
  flex-direction: column;
}
.intercom-emoji-picker-group-emojis {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0.5rem;
}
.intercom-emoji-picker-emoji {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  font-size: 1.2rem;
  transition: 350ms;

  &:hover {
    transform: scale(1.2);
  }
}

img.msg-editor-preview {
  display: block;
  margin: 0.5rem;
  height: 150px;
  width: auto;
  border-radius: 3px;
  overflow: hidden;
  object-fit: contain;
}
//
.toast-container {
  width: 90%;
  max-width: 580px;
  margin: 0 auto;
}

[class*="toast-pos-"] {
  position: absolute;
  padding: 10px;
}

.toast-pos-top {
  top: 0;
}

.toast-pos-right {
  right: 0;
}

.toast-pos-bottom {
  bottom: 0;
}

.toast-pos-left {
  left: 0;
}

.toast {
  display: none;
  padding: 20px;
  margin: 20px 0;
  background: #eeeeee;
  color: #333333;
}

.close-toast {
  float: right;
  text-decoration: none;
  color: #ffffff;
  vertical-align: middle;
}

/* Aditional Styles */

.toast-trigger {
  color: #ffffff;
}

.toast {
  background: rgba(255, 255, 255, 0.5);
  color: #ffffff;
}

.toast-trigger {
  display: inline-block;
  top: 50%;
  left: 50%;
  margin: 10px;
  padding: 20px 40px;
  background: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
  text-decoration: none;
  transition: ease 0.2s;
}

.toast-trigger:hover {
  background: #ffffff;
  color: #009688;
}
