$grid-breakpoints: (
  xs: 576px,
  sm: 768px,
  md: 1024px,
  lg: 1200px,
  xl: 1440px,
) !default;

$grid-breakpoints-max: (
  xs: 767px,
  sm: 1023px,
  md: 1199px,
  lg: 1439px,
) !default;

$width-xs: 576px;
$width-sm: 768px;
$width-md: 1024px;
$width-lg: 1200px;
$width-xl: 1440px;

$screen-width-xs: 575px;
$screen-width-sm: 767px;
$screen-width-md: 1023px;
$screen-width-lg: 1199px;
$screen-width-xl: 1439px;

$container_padding: 15px;

$footer_size: 75px; // Высота подвала сайта

$colorPrimary: #01273a;
$colorWhite: #ffffff;
$colorSecondary: #666666;
$colorInfo: #6a93af;
$colorLite: #dee2ed;
$colorLight: #e7eaf2;
$colorDanger: #ff0000;
$colorDark: #222222;
