.widget-message {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 100px;
  right: 0;
  bottom: 35px;
  background-color: #ffffff;
  width: 350px;
  z-index: 100;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  transform: translateY(35px);
  transition: all 500ms;
}

.widget-message-minimize {
  transform: translateY(100%);
}

.widget-message-maximize {
  //
}

.widget-message-header {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 35px;
  background: rgb(97, 168, 222);
  background: linear-gradient(135deg, rgba(97, 168, 222, 1) 0%, rgba(173, 196, 255, 1) 100%);
  z-index: 1;
}

.widget-message-switch {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

#textWidgetMessageSwitch {
  cursor: pointer;
}

.widget-message-select {
  margin: 0;
  padding: 0;
  border: 1px solid #ffffff;
  cursor: pointer;
}

.widget-message-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 35px;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 20px 10px;
  background-color: #ffffff;
  overflow-y: auto;
  flex-grow: 1;
}

.widget-message-top-controls {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

.widget-message-btn {
  display: none;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 35px;
  font-size: 1rem;
  color: #ffffff;
  background: none;
  border: none;
  box-shadow: none;
  outline: none;
  cursor: pointer;
  transition: all 300ms;

  &.show {
    display: flex;
  }
}

.widget-message--minimize {
  display: none;

  &:hover,
  &:target,
  &:active {
    outline: none;
    border: none;
  }
}

.widget-message--maximize {
  display: none;

  &:hover,
  &:target,
  &:active {
    outline: none;
    border: none;
  }
}

.widget-message-info {
  display: flex;
  justify-content: center;

  padding: 10px 5px;
  background-color: rgba(97, 168, 222, 0.2);
}

.widget-message-avatar {
  object-fit: cover;
  width: 100px;
  overflow: hidden;
  border-radius: 50%;
}

.widget-message-cards {
}

.widget-message-card-user {
  display: flex;
  flex-direction: column;
  padding: 3px 6px;
  cursor: pointer;
}

.widget-message-profile-status {
  margin: 3px;
  padding: 0;
}

.widget-message-list-message {
  position: absolute;
  top: 80px;
  right: 0;
  bottom: 140px;
  left: 0;
  margin: 10px 5px;
  flex-grow: 1;

  .message-text {
    font-size: 14px;
    padding: 0.5em 1em;
  }

  .listed-message-active-user {
    .message-text {
      &::after {
        display: none;
      }
    }
  }

  .listed-message-user {
    .message-text {
      &::after {
        display: none;
      }
    }
  }
}

.widget-message-message-form {
  margin: 0 5px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 140px;
}

//
//
//
//
//
//
//
//
//

.widget-message-all {
  display: none;
}

.widget-message-all-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

.widget-message-all-item {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 5px 0px;
  border-bottom: 1px solid #eee;
  border-radius: 25px 0px 0px 25px;
  cursor: pointer;
  transition: all 300ms;

  &:hover,
  &:active,
  &:target {
    background: #eeeeee;
  }
}

.widget-message-all-avatar {
  margin-right: 5px;
  height: 32px;
  width: 32px;
  background-color: #eeeeee;
  border-radius: 100%;
  overflow: hidden;

  img {
    object-fit: cover;
  }
}

.widget-message-all-name {
  flex-grow: 1;
}

.widget-message-all-count {
  background-color: #2196f3;
  color: #ffffff;
  margin-right: 5px;
  padding: 0 7px;
  border-radius: 25px;
  font-size: 12px;
}

.widget-message-all-status {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;

  .profile-status {
    margin: 0;
    padding: 0;
  }
}

.widget-message-private {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.widget-message-private-header {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 5px 0px;
  border-bottom: 1px solid #eee;
  border-radius: 25px 0px 0px 25px;
  transition: all 300ms;
}

.widget-message-private-header-avatar {
  margin-right: 5px;
  height: 32px;
  width: 32px;
  background-color: #eeeeee;
  border-radius: 100%;
  overflow: hidden;

  img {
    object-fit: cover;
  }
}

.widget-message-private-header-status {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;

  .profile-status {
    margin: 0;
    padding: 0;
  }
}

.widget-message-private-header-name {
  flex-grow: 1;
}

.widget-message-private-header-count {
  background-color: #2196f3;
  color: #ffffff;
  margin-right: 5px;
  padding: 0 7px;
  border-radius: 25px;
  font-size: 12px;
}

.widget-message-content-back {
  display: flex;
  justify-content: center;
  height: 100%;
}

.widget-message-private--btn-back {
  margin: 0px 5px;
  padding: 0;
  width: 40px;
  background: transparent;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 300ms;

  &:hover,
  &:target,
  &:focus {
    background-color: #eeeeee;
  }
}

.widget-message-private-list {
  margin: 0 0 1em 0;
  padding: 2em 0;
  height: 250px;
  list-style: none;
  border: 1px solid #d4d4d4;
  border-radius: 3px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.13) inset;
  overflow: auto;
  flex-grow: 1;
  margin: 5px;
}

.widget-message-private-listed-message {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0 1em;
}

.widget-message-private-listed-message-active-user {
  .widget-message-private-message-header {
    justify-content: flex-start;
  }

  .widget-message-private-message-icon {
    order: 1;
    color: #cfe8ff;
  }

  .widget-message-private-message-author {
    order: 2;
  }

  .widget-message-private-message-data {
    order: 3;
    color: #a8aab1;
    padding-left: 6px;
  }

  .widget-message-private-message-text {
    margin-right: auto;
    background: #efefef;
  }
}

.widget-message-private-listed-message-user {
  .widget-message-private-message-header {
    justify-content: flex-end;
  }

  .widget-message-private-message-icon {
    color: #efefef;
  }

  .widget-message-private-message-data {
    color: #a8aab1;
    padding-right: 6px;
  }

  .widget-message-private-message-text {
    margin-left: auto;
    background: #cfe8ff;
  }
}

.widget-message-private-message-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
}

.widget-message-private-message-data {
  color: #a8aab1;
}

.widget-message-private-message-author {
  //
}

.widget-message-private-message-icon {
  margin-right: 3px;
  margin-left: 3px;
}

.widget-message-private-message-text {
  position: relative;
  margin-top: 5px;
  padding: 5px 15px;
  color: #000;
  line-height: 26px;
  font-size: 16px;
  border-radius: 7px;
  box-sizing: border-box;
  overflow-wrap: anywhere;
}

.widget-message-private-form {
  flex-grow: 1;
  margin: 5px;
}

.widget-message-private-form--textarea {
  flex-grow: 1;
  margin: 5px 0;
  padding: 0.5rem;
}

.widget-message-private-form--action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 5px;
}

.widget-message-private-form--btn {
  display: inline-block;
  padding: 0.3em 0.8em 0.4em 0.8em;
  color: #fff !important;
  position: relative;
  margin: 2px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-bottom-color: rgba(0, 0, 0, 0.1);
  border-bottom-width: 2px;
  position: relative;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  line-height: 1.5em;
  cursor: pointer;

  border-radius: 3px;
  background: #ff0000;

  transition: all 300ms;

  outline: none;

  &:hover,
  &:target,
  &:active {
    background: #ef6a8a;
  }

  &.disabled {
    pointer-events: none;
    z-index: 1;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: #ffffff;
      opacity: 0.5;
      z-index: 2;
    }
  }
}
//
.widget-balance {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .widget-balance-img {
    margin: 0 5px 0 10px;

    img {
      width: 50px;
      object-fit: contain;
    }
  }

  .widget-balance-total {
    flex-grow: 1;
    font-size: 20px;
    font-weight: bold;
    color: #444444;
    padding: 5px;
    text-align: center;
  }
}
//
.widget-available-messages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.widget-available-messages-img {
  margin: 0 5px 0 10px;
  width: 24px;
  object-fit: contain;
}
.widget-available-messages-text {
  flex-grow: 1;
  font-weight: bold;
  color: #444444;
  padding: 5px;
  text-align: center;
}
.widget-available-messages-total {
  flex-grow: 1;
  font-size: 20px;
  font-weight: bold;
  color: #444444;
  padding: 5px;
  text-align: center;
}

//
//
//
//
//
//
//
//
//
.widget-message-content-active {
  display: block;

  &.widget-message-all {
    display: block;
  }

  &.widget-message-private {
    display: flex;
  }
}
