.module-top-photos {
  opacity: 0;
  transition: opacity ease-in 500ms;
  height: 195px;
  &.show {
    opacity: 1;
  }
}
.carousel-top-photo {
  min-height: 195px;
  margin-left: 165px;
}

.slide {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 10px 5px;
  justify-content: center;
  align-items: center;
}
.slide-img {
  height: 155px;
  width: 115px;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000000;
    opacity: 0;
    transition: opacity ease-in-out 200ms;
  }

  &:hover {
    &::after {
      content: "";
      opacity: 0.25;
    }
  }
}
.slide-add-subscribe {
  position: absolute;
  left: 15px;
  width: 135px;

  .slide-add-subscribe--pre {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    &::before {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: #53aed3;
      opacity: 0.5;
    }
    &::after {
      content: "";
      height: 50px;
      width: 50px;
      background-image: url("../img/carousel-top-photo--add.svg");
      background-size: cover;
    }
  }
}
.slide-info {
  flex-direction: column;
  width: 175px;
  background-color: #ffffff;
  padding: 5px 10px;
  z-index: 1;
  bottom: 0;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  color: #000000;
  .slide-info--name {
    font-size: 14px;
    font-weight: 900;
  }
  .slide-info--location {
    opacity: 0.5;
    font-weight: 900;
  }
  .slide-info--status {
    width: 13px;
    height: 13px;
    display: inline-block;
    margin: -2px 6px 0 0;
    background: #ccc url(../../images/icons/icon-status.png) 0 0 no-repeat;
    vertical-align: middle;
    &.online {
      background-color: #41a1db;
    }
  }
  .slide-add-subscribe--title {
    font-size: 12px;
    text-align: center;
    font-weight: 600;
  }
  .slide-add-subscribe--after {
    font-size: 12px;
    margin-top: 5px;
    text-align: center;
  }
}
.tooltip_templates {
  display: none;
}
.tooltipster-sidetip.tooltipster-noir.tooltipster-noir-customized {
  margin: 0;
  padding: 0;
}

.tooltipster-sidetip.tooltipster-noir.tooltipster-noir-customized .tooltipster-box {
  margin: 0;
  padding: 0;
  background: transparent;
  border: none;
}
.tooltipster-sidetip.tooltipster-noir.tooltipster-noir-customized .tooltipster-arrow {
  display: none;
}

.tooltipster-sidetip.tooltipster-noir.tooltipster-noir-customized .tooltipster-content {
  margin: 0;
  padding: 0;
  overflow: visible;
}

.module-payment-example {
  display: flex;
  margin: 20px 0;
  .slide {
    margin: 5px;
    overflow: hidden;
    border-radius: 3px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
    img {
      height: 100%;
      width: 100%;
      max-width: 75px;
      object-fit: cover;
    }
  }
}

.btn-payment {
  padding-right: 15px;
  padding-left: 15px;
  color: #ffffff;
  &:hover {
    color: #ffffff;
  }
}

@media (max-width: 1440px) {
  @import "responsive-1440/_carousel-top-photo";
}

@media (max-width: 768px) {
  @import "responsive/_carousel-top-photo";
}
