.module-payment {
}
.btn-payment-cancel {
  padding-right: 15px;
  padding-left: 15px;
  &:hover,
  &:active,
  &:target,
  &:focus {
    color: #ffffff;
  }
}
.btn-payment {
  padding-right: 15px;
  padding-left: 15px;
  background: #3d5266;
  &:hover,
  &:active,
  &:target,
  &:focus {
    background: #243749 !important;
    color: #ffffff;
  }
}

.premium-plus {
  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  li {
    width: 250px;
    text-align: left;
    display: flex;
    align-items: center;
  }
  .premium-plus--icon {
    margin-right: 15px;
    height: 32px;
  }
}

.remodal-group-btns {
  margin-top: 15px;
}
