.body-overflow {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.container-fluid {
  width: 100%;
}

.data-hidden {
  display: none;
}

//

@import "buy";
@import "messages";
@import "lists";
@import "form";
@import "variables";
@import "margin-padding";
@import "alert";
@import "message-form";
@import "reg";
@import "likes";
@import "buttons";
@import "tables/profile-fields";
@import "widgets";

.debug-d {
  position: relative;
  background: #ffffff;
  color: red;
  border: 1px solid red;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  min-height: 50px;

  &::before {
    content: "Отладка";
    position: absolute;
    top: 0;
    right: 0;
    margin: 3px;
    padding: 3px;
    opacity: 0.25;
  }
}

.surprise-msg {
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    display: block;
    position: relative;
    height: auto;
    width: auto;
  }

  img {
    position: relative;
    height: 200px;
    width: auto;
  }
}

th.th-title {
  vertical-align: top;
  padding-top: 18px;
}

.profile-birthday {
  //background: url("../img/birthday.svg");
  position: absolute;
  top: 10px;
  left: 10px;
  height: 50px;
  width: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation: anim-profile-birthday 2s infinite linear;
  z-index: 1;

  .img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: contain;
  }

  a {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}

@keyframes anim-profile-birthday {
  50% {
    transform: scale(1.3);
    animation-timing-function: ease-in;
  }

  100% {
    transform: scale(1);
  }
}

.views-mounts {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin: 1rem 0;
  padding: 0.5rem;
  text-align: center;
  color: #444444;
  font-size: 1rem;

  .views-mounts--title {
  }

  .views-mounts--count {
    position: relative;
    font-weight: bold;
    margin: 0.3rem;
    padding: 0 3rem;
    font-size: 1.3rem;
    text-align: right;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 50px;
      height: 100%;
      background-image: url("../img/guest.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: auto;
    }
  }
}

.header-options-msg-notification {
  display: flex;
  position: absolute;
  top: -12px;
  right: -12px;
  height: 24px;
  width: 24px;
  background: #2196f3;
  justify-content: center;
  align-items: center;
  border-radius: 100%;

  z-index: 0;
  overflow: hidden;

  opacity: 0;
  transition: all 300ms;
  transform: scale(0);

  .value {
    color: #ffffff;
  }

  &.show {
    opacity: 1;
    transform: scale(1);
  }

  &::before {
    content: "";
    position: absolute;
    z-index: -2;
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    background-color: #399953;
    background-repeat: no-repeat;
    background-size: 50% 50%, 50% 50%;
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    background-image: linear-gradient(#ffffff, #ffffff), linear-gradient(#ffffff, #ffffff), linear-gradient(#d53e33, #d53e33), linear-gradient(#ffffff, #ffffff);
    animation: keyframes-border-notification 4s linear infinite;
  }

  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 1px;
    top: 1px;
    width: 22px;
    height: 22px;
    background: #2196f3;
    border-radius: 100%;
    opacity: 1;
  }
}

.header-options-notification-guests-new {
  display: none;

  position: absolute;

  right: -12px;
  bottom: -12px;
  height: 24px;
  width: 24px;
  background: #e70000;
  justify-content: center;
  align-items: center;
  border-radius: 100%;

  z-index: 0;
  overflow: hidden;

  transition: all 300ms;

  .value {
    color: #ffffff;
  }
  &.show {
    display: flex;
  }
}

@keyframes keyframes-border-notification {
  100% {
    transform: rotate(1turn);
  }
}

.mo-openid-app-icons {
  a.login-button {
    margin: 0 2px;
    cursor: pointer;
  }
}

#colorbox {
  position: fixed !important;
  top: 20px !important;
  max-height: 80%;
  overflow: auto;
}

.btn-panel-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  @media (max-width: 750px) {
    // Мобильный вид
    flex-direction: column;
  }
}

.profile-option {
  .icon-heart {
    color: #f44336;
  }

  .icon-gift {
    color: #4caf50;
  }

  .icon-envelope-alt {
    color: #2196f3;
  }

  .fa-video {
    color: #17a2b8;
  }
}

.widget-private-photo {
  .profile-image {
    overflow: hidden;
  }
}

.themex-slider-password {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100;

  transition: all 300ms;

  &.themex-slider-password-load {
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: white;
      z-index: 999;
      animation-name: animationLoading;
      animation-duration: 1.6s;
      animation-iteration-count: infinite;
      animation-direction: linear;
      opacity: 0;
    }
  }

  &.themex-slider-password-hidden {
    z-index: auto;
    opacity: 0;
  }

  img {
    filter: blur(10px);
  }

  label {
    text-align: center;
    margin: 5px 0px;
    font-weight: bold;
    color: #444;
    text-shadow: 1px 0px 0px rgba(255, 255, 255, 0.5), -1px 0px 0px rgba(255, 255, 255, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.5), 0px -1px 0px rgba(255, 255, 255, 0.5);
  }

  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0 10px;
    background: #4caf50;
    align-items: center;
    height: 33px;
    margin: 0 0 0 5px;
    color: #ffffff;
    border: 1px solid #4caf50;
    outline: none;

    transition: all 200ms;

    &:hover,
    &:active,
    &:target,
    &:focus {
      border: 1px solid #4caf50;
      background-color: #38843b;
      outline: none;
    }
  }

  .themex-slider-password-message {
    padding: 0 5px;
    text-align: center;
    background: #ffffff;
    color: #f44336;
    opacity: 0;
  }
}

@keyframes animationLoading {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.75;
  }

  100% {
    opacity: 0;
  }
}

.effect-blur {
  img {
    filter: blur(7px);
  }
}

//
//
//
//
//
//
