.toast-trigger {
  color: #ffffff;
}

.toast {
  background: rgba(255, 255, 255, 0.5);
  color: #ffffff;
  position: fixed;
  right: 25px;
  bottom: 25px;
  z-index: 900000;
  background: #03a9f4;
  > span {
    margin-right: 1rem;
  }
}

.toast-trigger {
  display: inline-block;
  top: 50%;
  left: 50%;
  margin: 10px;
  padding: 20px 40px;
  background: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
  text-decoration: none;
  transition: ease 0.2s;
}

.toast-trigger:hover {
  background: #ffffff;
  color: #009688;
}
