.module-top-photos {
  height: 135px;
}

.slide-add-subscribe {
  left: 0;
  width: 95px;
}
.carousel-top-photo {
  min-height: 115px;
  margin-left: 95px;
}
.slide-img {
  height: 125px;
  width: 85px;
}
